In [1]:
Str = "anoop"

In [2]:
Str

'anoop'

In [3]:
dum_list = [1,2,3,"hello", False]

In [4]:
dum_list

[1, 2, 3, 'hello', False]

In [5]:
dum_float = 99.99

In [6]:
dum_float

99.99

In [7]:
dum_tuple = (1, 9.24, True, "anoop")

In [8]:
dum_tuple

(1, 9.24, True, 'anoop')

In [12]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
type(var1)

str

In [13]:
type(var2)

str

In [14]:
type(var3)

list

In [15]:
type(var4)

int

In [16]:
a = 10
b = 3
result = a / b
result

3.3333333333333335

In [18]:
a = 10
b = 3
result2 = a % b
result2

1

In [19]:
a = 10
b = 3
result3 = a // b
result3

3

In [20]:
a = 2
b = 3
result4 = a ** b
result4

8

In [22]:
dumm_list = [1, "anoop", 23.32, True, 2, "ajay", False, True, "arun", False]

for i in dumm_list:
    print(i)
    print("Data Type:", type(i))
    print()

1
Data Type: <class 'int'>

anoop
Data Type: <class 'str'>

23.32
Data Type: <class 'float'>

True
Data Type: <class 'bool'>

2
Data Type: <class 'int'>

ajay
Data Type: <class 'str'>

False
Data Type: <class 'bool'>

True
Data Type: <class 'bool'>

arun
Data Type: <class 'str'>

False
Data Type: <class 'bool'>

In [26]:
dum_list3 = list(range(1,26))
dum_list3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [27]:
for i in dum_list3:
    if i % 3 == 0:
        print(i, " divisible by 3")
    else:
        print(i, " not divisible by 3")

1  not divisible by 3
2  not divisible by 3
3  divisible by 3
4  not divisible by 3
5  not divisible by 3
6  divisible by 3
7  not divisible by 3
8  not divisible by 3
9  divisible by 3
10  not divisible by 3
11  not divisible by 3
12  divisible by 3
13  not divisible by 3
14  not divisible by 3
15  divisible by 3
16  not divisible by 3
17  not divisible by 3
18  divisible by 3
19  not divisible by 3
20  not divisible by 3
21  divisible by 3
22  not divisible by 3
23  not divisible by 3
24  divisible by 3
25  not divisible by 3

In [30]:
 # Mutable data types can be modified after declear. Here is example
dum_list4 = [1, 2, 3]

dum_list4[0] = 9
dum_list4

[9, 2, 3]

In [32]:
 # Immutable data types can not be modified after declear. Here is example
Str2 = "anoop"
Str2[0] = "z" # This will give an error

TypeError: 'str' object does not support item assignment