## Q1. How do you comment code in Python? What are the different types of comments?

### There are two types of comments in Python:  single-line comment and multi-line comment.

### single-line comment: It starts with hash(#)

In [1]:
# here is example of single line of the comment

### multi-line comment : It starts with triple quotes (""" or ''')

In [8]:
"""This is example of multi-line comment
first line
second line 
third line """

'This is example of multi-line comment\nfirst line\nsecond line \nthird line '

## Q2. What are variables in Python? How do you declare and assign values to variables?

### Variables are used to store the data which we can use according to our code and also can manipulate throughout the program. It is a name of the loaction in computer's memory where you can store and retrive the data.

### declearing a variable

In [9]:
a = "Variable data"
print(a)

Variable data

### Q3. How do you convert one data type to another in Python?

### To convert one data type to another we have to use type conversion functons 
### example :

In [12]:
# This is the int data
x = 33
print(type(x))
# here is a float() converting data in the floating data type
y = float(x)
print(type(y))

<class 'int'>
<class 'float'>

### example 2:

In [15]:
# converting list to the tuple
a = [1,2,3]
print(type(a))

b = tuple(a)
print(type(b))

<class 'list'>
<class 'tuple'>

### Q4. How do you write and execute a Python script from the command line?

### Write python code in any of the text editor like VS Code, Nodepad and create a file name with extension of .py example: fileName.py
### To execute to fileName.py, python should be installed in the machine and environment PATH should be added in the system.
### Now open cmd and go to that location where python file is present or if you are in vs code the right click on file and click on open integral termial, next you have to write python fileName.py and click enter

### Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [16]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3:1]

[2, 3]

### Q6. What is a complex number in mathematics, and how is it represented in Python?

### In mathematics, a complex number is a number that can be expressed in the form of a + bi, and here a and b are real numbers. 
### here is the example

In [18]:
cmplx = 2 + 1j
print(cmplx)

(2+1j)

### Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [20]:
age = 25
print(age)

25

### Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [21]:
# data type is float
price=9.99
type(price)

float

### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [22]:
name="Anoop Chandra"
print(name)

Anoop Chandra

### Q10. Given the string "Hello, World!", extract the substring "World".

In [25]:
a="Hello, World!"
b=a[7:12]
print(b)

World

### Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [26]:
# I'm student
is_student=True 

# I'm not student
is_student= False